@* <h1>Signal R Scaffold</h1>

<p>Current view count: <span id="viewCounter">0</span></p>

<button id="increase">Increase View</button>  *@

@* First Name
<input type="text" id="firstName" />

Last Name
<input type="text" id="lastName" />

<button id="getFullName">Get Full Name</button> *@

@* <h1>Groups</h1>
<button id="btnJoinYellow">JoinYellow</button>
<button id="btnJoinBlue">JoinBlue</button>
<button id="btnJoinOrange">JoinOrange</button>

<br>
<br>

<button id="btnTriggerYellow">TriggerYellow</button>
<button id="btnTriggerBlue">TriggerBlue</button>
<button id="btnTriggerOrange">TriggerOrange</button> *@

Pie votes: <span id="pieVotes"></span> <br>
Bacon votes: <span id="baconVotes"></span>